#contenedor1{
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0;
  padding-top: 40px;
  padding-left: 70px;
  text-align: justify;
}
.secciones{
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
}
.contenedor-extra{
  position: absolute;
  right: 170px;
  top: 40px;
}
h3{
  font-size: 25px;
}
#telefono{
  right: 30px;
  width: 380px;
}
